body,
html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("bg.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: 0px 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
#message{
    background-color: rgba(23, 12,27, 0.3);
    border: 2px solid #3A1E46;
    padding: 25px !important;
    color: white;
    width: 100%;
    font-size: 25px;
    margin: 0px;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.3) !important;
    height : 40px !important;
}
.navbar {
    background: #211028 !important;
    border: none !important;
    color: white !important;
}
.navbar-brand{
    color: white !important;
}

.footer{
     position:fixed !important;
     bottom:0px !important;
     left:0px !important;
     right:0px !important;
     margin-bottom:0px !important;
}
.page-header{
    color: white !important;
}
textarea::-webkit-input-placeholder {
    color: white !important;
}
.well{
  background:#3A1E46 !important;
  color: white !important;
  border: none !important;
  border-radius: 20px !important;
  box-shadow:0 10px 10px rgba(0, 0, 0, 0.3) !important;
  font-size: 15px;
  margin-right: 20px;
}
.well strong{
  text-decoration: uppercase;
}
.chat{
    height: 400px;
    overflow-y: scroll;
}
@media only screen and (max-height: 500px) {
    .chat {

        height: 200px;
    }
    .well{
      font-size: 10px;
      margin-right: 20px;
    }
}
.chat::-webkit-scrollbar {
    width: 1em;
}

.chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat::-webkit-scrollbar-thumb {
    background-color : #3A1E46;;
    outline: 1px solid slategrey;
}

.navbar{
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.3) !important;
}
.nav li a{
    color: white !important;
}
.nav li:hover{
    background: #3A1E46 !important;
}
h3{
  padding-top: none !important;
  margin: none !important;
}
.cl{
  display: block;
  text-align: center;
}
#name {
  background: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  margin: 10px;
}

#email {
  background: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  margin: 10px;
}
#btt{
  background: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  margin: 10px;
  -webkit-transition: 0.5s;
}
#btt:hover{
  background: #3A1E46;
}
